.ldsDualRing {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.ldsDualRing:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 3px;
  border-radius: 50%;
  border: 6px solid #4f515b;
  border-color: #4f515b transparent #4f515b transparent;
  animation: ldsDualRing 1.2s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
