.nav {
  grid-area: n;
  background-color: var(--light);
  padding: 20px;
}
.item {
  height: 25px;
}
.item a {
  color: #4f515b;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;

}
.item a.active {
  color: var(--indigo);
}