h3 {
  margin: 0;
  font-size: 20px;
}
p,
span {
  margin: 8px 0 8px 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--blue);
}

.descriptionBlock {
  padding: 15px;
}

.descriptionBlock {
  display: flex;
}

.item {
  margin: 15px;
}

.descriptionBlock img {
  width: 250px;
  height: 250px;
}

.nameBox {
  margin-bottom: 15px;
}

.infoBox {
  margin-bottom: 15px;
}

.infoBox p:first-child {
  font-weight: bold;
}
